.btn {
  width: 176px;
  height: 47px;
  margin: auto 3rem;
  color: aliceblue;
  background: #58864C;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  transform: translateY(-7px);
  box-shadow: 0 0 15px #58864C;
}

.btn:active {
  transform: translateY(-1px);
}