.navbar{
  display: flex;
  width: 100%;
  background: #1F2630;
  justify-content:space-between;
}

.navbar h3{  
  margin-left: 3rem;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: aliceblue;
}

@media (max-width: 475px) {
  .navbar h3{  
    margin-left: 1.5rem;
  }

  .button {
    margin: auto 0.5rem;
    width: 120px;
  }
}
